<html>
   
<body>

    <h2>Contact us</h2>

    <form action="detail" method="post">
        <label for="input1">Enter your name</label><br>
        <input type="text" name="name"><br>

        <label for="input2">Phonenumber</label><br>
        <input type="text" name="ph"><br>
        
        <label for="input3">Enter your Emailid</label><br>
        <input type="text" name="Emailid"><br>
          
        
        <label for="input1">Gender</label><br>
        <input  type="radio" name="gn" value="Male">Male<br>
        <input type="radio" name="gn" value="Female">Female<br>

        <label for="input1">Write your Massege</label><br>
        <input type="text" name="msg"><br>

        
        {{op}}


        <input type="Submit" value="submit"> 
    </form>

    <p>If you click the "Submit" button.</p>

</body>

</html>
